<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
        </staticContent>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="500000000" />
                <fileExtensions>
                    <add fileExtension=".wasm" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
